<h1>Editing Friends Table</h1>
<br>

<%= render 'form', friends_table: @friends_table %>

<%= link_to 'Show', @friends_table, class:"btn btn-secondary" %>
<%= link_to 'Delete', @friends_table, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<%= link_to 'Back', friends_tables_path, class:"btn btn-dark" %>

