  <div class="alert alert-info alert-dismissible d-flex align-items-center" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
